{% macro render_errors(field) %}
    {% if field.errors %}
        <ul class="input-errors">
        {% for e in field.errors if e is string %}
            <li>{{ e }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro render_tips(field) %}
    {% if field.description %}
        <span class="tips">{{ field.description }}</span>
    {% endif %}
{% endmacro %}

{% macro render_field(form, field, set_focus=False, kwargs={}) %}
    <div class="control-group {{ 'error' if field.errors }}">
        <div class="control-label">
        {{ field.label.text }}
        {% if h.is_required_form_field(field) %}
            <strong style="color: red">&#42;</strong>
        {% else %}
            &nbsp;
        {% endif %}
        </div>

        <div class="controls">
            <div>
            {% if set_focus %}
                {{ field(autofocus='autofocus', **kwargs)|safe }}
            {% else %}
                {{ field(**kwargs)|safe }}
            {% endif %}
            </div>

            {% if field.description %}
                <p class="help-block">{{ field.description }}</p>
            {% endif %}

            {{ render_errors(field) }}
        </div>
    </div>
{% endmacro %}

{% macro render_form_fields(form, set_focus=True, widget_args={}) %}
    {{ form.hidden_tag() if form.hidden_tag is defined }}

    {% for field in admin_view.get_fields(None) if field.type != 'HiddenField' and field.type != 'CSRFTokenField' %}
    <div class="row-fluid">
        {% if admin_view.is_tuple(field) %}
            {% for f in field if f.type != 'HiddenField' and f.type != 'CSRFTokenField' %}
            <div class="span3">
                {% set kwargs = widget_args.get(f, {}) %}
                {{ render_field(form, form.__getitem__(f), not loop.index0 and admin_view.set_focus, kwargs) }}
            </div>
            {% endfor %}
        {% else %}
            {% set kwargs = widget_args.get(field, {}) %}
            {{ render_field(form, form.__getitem__(field), not loop.index0 and admin_view.set_focus, kwargs) }}
        {% endif %}
    </div>
    {% endfor %}

    <ul class="nav nav-tabs">
        {% for catagory in admin_view.get_field_categorys() %}
            {% if loop.index == 1 %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <a href="#{{ catagory }}" data-toggle="tab">{{ catagory }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
    {% for catagory in admin_view.get_field_categorys() %}
        {% if loop.index == 1 %}
        <div class="tab-pane active" id="{{ catagory }}">
        {% else %}
        <div class="tab-pane" id="{{ catagory }}">
        {% endif %}
            {% for field in admin_view.get_fields(catagory) if field.type != 'HiddenField' and field.type != 'CSRFTokenField' %}
            <div class="row-fluid">
                {% if admin_view.is_tuple(field) %}
                    {% for f in field if f.type != 'HiddenField' and f.type != 'CSRFTokenField' %}
                    <div class="span3">
                        {% set kwargs = widget_args.get(f, {}) %}
                        {{ render_field(form, form.__getitem__(f), not loop.index0 and admin_view.set_focus, kwargs) }}                        
                    </div>
                    {% endfor %}
                {% else %}
                    {% set kwargs = widget_args.get(field, {}) %}
                    {{ render_field(form, form.__getitem__(field), not loop.index0 and admin_view.set_focus, kwargs) }}                    
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endmacro %}

{% macro form_tag() %}
    <form action="" method="POST" class="form-vertical"{% if form.has_file_field %} enctype="multipart/form-data"{% endif %}>
        <fieldset>
        {{ caller() }}
        </fieldset>
    </form>
{% endmacro %}

{% macro render_form_buttons(cancel_url, extra=None) %}
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-primary btn-large" value="{{ _('Submit') }}" />
        {% if extra %}
            {{ extra }}
        {% endif %}
        {% if cancel_url %}
            <a href="{{ cancel_url }}" class="btn btn-large">{{ _('Cancel') }}</a>
        {% endif %}
      </div>
    </div>
{% endmacro %}

{% macro render_form(form, cancel_url, extra=None) -%}
    {% call form_tag() %}
        {{ render_form_fields(form) }}
        {{ render_form_buttons(cancel_url, extra) }}
    {% endcall %}
{% endmacro %}

