{% macro main_menu(active='index') -%}
<ul class="nav">
    {% if active == 'index' %}
        <li class="active">
    {% else %}
        <li>
    {% endif %}
        <a href="{{ url_for('frontend.index') }}">{{ _("Home") }}</a>
    </li>

    {% if active == 'hr' %}
        <li class="active">
    {% else %}
        <li>
    {% endif %}
        <a href="{{ url_for('hr.main') }}">{{ _("Human Resources") }}</a>
    </li>

    {% if active == 'sd' %}
        <li class="active">
    {% else %}
        <li>
    {% endif %}
        <a href="{{ url_for('sd.main') }}">{{ _("Sales Distribution") }}</a>
    </li>

    {% if active == 'im' %}
        <li class="active">
    {% else %}
        <li>
    {% endif %}
        <a href="{{ url_for('im.main') }}">{{ _("Warehouse") }}</a>
    </li>

    {% if active == 'mm' %}
        <li class="active">
    {% else %}
        <li>
    {% endif %}
        <a href="{{ url_for('mm.main') }}">{{ _("Material") }}</a>
    </li>

    {% if active == 'account' %}
        <li class="active">
    {% else %}
        <li>
    {% endif %}
        <a href="{{ url_for('account.main') }}">{{ _("Account") }}</a>
    </li>

    {% if active == 'base' %}
        <li class="active">
    {% else %}
        <li>
    {% endif %}
        <a href="{{ url_for('base.main') }}">{{ _("Base") }}</a>
    </li>

    {#
    <li><a href="{{ url_for('sales.main') }}">{{ _("Word Order") }}</a></li>
    
    #}
</ul>
{%- endmacro %}