{% macro render_menubar() %}
<ul class="nav">
    <li><a href="{{ url_for('frontend.index') }}">{{ _("Home") }}</a></li>
    <li><a href="{{ url_for('account.main') }}">{{ _("Account") }}</a></li>
    {#
    <li><a href="{{ url_for('hr.main') }}">{{ _("Human Resources") }}</a></li>
    <li><a href="{{ url_for('bases.main') }}">{{ _("Base") }}</a></li>
    {% if g.user %}
        <li id="login">
            <a href="{{ url_for('account.logout',next=request.path) }}">{{ _("Logout") }}</a>
        </li>
    {% else %}
        <li id="logout">
            <a href="{{ url_for('account.login',next=request.path) }}">{{ _("Login") }}</a>
        </li>
    {% endif %}
    #}
</ul>
{% endmacro %}