{% extends "layout.html" %}

{% import 'macros/_menu.html' as _menu with context %}
{% import 'macros/_actions.html' as _actions with context %}

{% import admin_view.blueprint.name + '/_sidebar.html' as _sidebar with context %}


{%- block menu %}
    {{ _menu.main_menu(active=admin_view.blueprint.name) }}
{%- endblock %}

{%- block sidebar %}
    {{ _sidebar.sidebar(active=admin_view.endpoint) }}
{%- endblock %}

{% block body %}
    {% block model_menu_bar %}
    <div id="modelbar">
        <ul class="nav nav-pills">
            <li class="active">
                <a href="javascript:void(0)">{{
                  admin_view.get_i18_model_name() + ' ' + _('List') }} ({{ admin_view.count }})</a>
            </li>
            {% if admin_view.can_create %}
            <li>
                <a href="{{ url_for('.' + admin_view.endpoint + '_create', id=0, url=return_url) }}">{{ _('Create') }}</a>
            </li>
            {% endif %}

            {% if admin_view.actions %}
            <li class="dropdown">
                {{ _actions.dropdown(admin_view.actions) }}
            </li>
            {% endif %}

            <li>
                <a href="{{ url_for('.' + admin_view.endpoint + '_list_pdf') }}">{{ _("Print") }}</a>
            </li>
        </ul>
    </div>
    {% endblock %}

    {% if filter_groups %}
        {{ model_layout.filter_form() }}
        <div class="clearfix"></div>
    {% endif %}

    {% block model_list_table %}
    <table class="table table-hover table-bordered model-list">
        <thead>
            <tr>
                {% block list_header scoped %}
                    {% if admin_view.actions %}
                    <th class="title-check" width="1px">
                        <input type="checkbox" name="rowtoggle" class="action-rowtoggle" />
                    </th>
                    {% endif %}
                    {%- if admin_view.can_edit or admin_view.can_delete -%}
                    <th class="title-button" width="1px">_____</th>
                    {% endif %}
                    {% set column = 0 %}
                    {% for c in admin_view.list_columns %}
                    <th>
                        {# 如果这里使用admin_view中的字典会导致无法使用babel，原因未知 #}
                        {# {{ admin_view.column_labels[c] }} #}
                        {{ column_labels[c] }}
                    </th>
                    {% set column = column + 1 %}
                    {% endfor %}
                {% endblock %}
            </tr>
        </thead>
        {% for row in admin_view.data %}
        <tr>
            {% block list_row scoped %}
                {% if admin_view.actions %}
                <td class="content-check">
                    <input type="checkbox" name="rowid" class="action-checkbox" value="{{ row.id }}" />
                </td>
                {% endif %}
                <td class="content-button">
                    {% block list_row_actions scoped %}
                        {%- if admin_view.can_edit -%}
                        <a class="icon" href="{{ url_for('.' + admin_view.endpoint + '_edit', id=row.id, url=return_url) }}">
                            <i class="icon-pencil"></i>
                        </a>
                        {% endif %}
                        {%- if admin_view.can_delete -%}
                        <form class="icon" method="POST" action="{{ url_for('.' + admin_view.endpoint + '_delete', id=row.id, url=return_url) }}">
                            <button onclick="return confirm('{{ _('You sure you want to delete this item?') }}');">
                                <i class="icon-remove"></i>
                            </button>
                        </form>
                        {% endif %}
                    {% endblock %}
                </td>

                {% for c in admin_view.list_columns %}
                    {%- if row[c] == True %}
                        <td><i class="icon-ok"></i></td>
                    {%- elif row[c] == False %}
                        <td><i class="icon-remove"></i></td>
                    {%- elif row[c] %}
                        <td>{{ row[c] }}</td>
                    {%- else %}
                        <td></td>
                    {%- endif %}
                {% endfor %}
            {% endblock %}
        </tr>
        {% endfor %}
    </table>

    {# 分页处理，暂时不支持
    {{ lib.pager(page, num_pages, pager_url) }}
    #}

    {% endblock %}

    {{ _actions.form(admin_view.actions, url_for('.' + admin_view.endpoint + '_action')) }}
{% endblock %}

{% block tail %}
    <!-- // <script src="{{ url_for('static', filename='js/filters.js') }}"></script> -->

    {{ _actions.script(_('Please select at least one model.'),
                      admin_view.actions,
                      admin_view.actions_confirmation) }}
{% endblock %}
