{% extends "layout.html" %}

{% import 'macros/_menu.html' as _menu with context %}
{% import 'macros/_forms.html' as _forms with context %}

{% import admin_view.blueprint.name + '/_sidebar.html' as _sidebar with context %}


{%- block menu %}
    {{ _menu.main_menu(active=admin_view.blueprint.name) }}
{%- endblock %}

{%- block sidebar %}
    {{ _sidebar.sidebar(active=admin_view.endpoint) }}
{%- endblock %}

{% block body %}
    <ul class="nav nav-pills">
        <li>
            <a href="{{ url_for('.' + formadmin.endpoint + '_list') }}">{{ _('List') }}</a>
        </li>
        <li class="active">
            <a href="#">{{ _('View') }}</a>
        </li>
        <li>
            <a href="{{ url_for('.' + formadmin.endpoint + '_edit', id=current_id)  }}">{{ _('Edit') }}</a>
        </li>
    </ul>

    {% call lib.form_tag() %}
        {{ lib.render_form_fields(formadmin.form) }}
    {% endcall %}

{% endblock %}