{% extends 'im/main.html' %}

{% block head %}
    <link href="/static/css/datepicker.css" rel="stylesheet">
    <link href="/static/select2/select2.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#">{{ _('List') }} ({{ count }})</a>
        </li>
    </ul>

    {% block model_list_table %}
    <table class="table table-hover table-bordered model-list">
        <thead>
            <tr>
                {% block list_header scoped %}
                    {% for c in list_columns %}
                    <th>
                        {{ column_labels[c] }}
                    </th>
                    {% endfor %}
                {% endblock %}
            </tr>
        </thead>
        {% for row in data %}
        <tr>
            {% block list_row scoped %}
                {% for c in list_columns %}
                    {%- if row[c] %}
                        <td>{{ row[c] }}</td>
                    {%- else %}
                        <td></td>
                    {%- endif %}
                {% endfor %}
            {% endblock %}
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
{% endblock %}